body{
    text-align: center;
}
div{
    display:flex;
    color:black;

    margin:0 35%;

    font-size:20px;
   
}

#cs{
    margin:0 auto;
    text-align: center;
    background-color:pink;

}


label{
    margin:10px 40px 10px 0;

}

input{
    margin:10px 40px;
}
